header {
    text-align: right;
}
h1{
    font-size: medium;
}
h3 {
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger;

}
article
{
    font-family: 'Bad Script', cursive;
    text-indent: 10mm;
}