.head {
    text-align: right;
}
#title{
    font-size: medium;
}
#intro {
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger;

}
.paragraph
{
    font-family: 'Bad Script', cursive;
    text-indent: 10mm;
}